@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@700&display=swap');

header {
  background: linear-gradient(135deg, #d9534f, #e05d5d);
  border: 2px solid #d9534f;
  color: #fff; /* Colore del testo bianco */
  padding: 15px; /* Spazio interno */
  text-align: center; /* Allineamento del testo al centro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  border: 2px solid #d9534f;
  border-radius: 8px;
}

body {
  background-color: #e5e5e5; /* Colore di sfondo grigio molto chiaro */
  /*color: #111;  Colore del testo per un buon contrasto */
  font-family: Arial, sans-serif; /* Font generale */
}

blockquote {
  border-left: 4px solid #6c757d; /* Colore grigio scuro per la linea laterale */
  padding: 10px 20px; /* Spazio interno */
  margin: 20px 0; /* Spazio esterno */
  background-color: #f8f9fa; /* Colore di sfondo grigio chiaro */
  color: #596067; /* Colore del testo grigio scuro */
  font-style: italic; /* Testo in corsivo */
  border-radius: 4px; /* Angoli arrotondati */
  line-height: 1.5; /* Altezza della linea */
}

.container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content {
  overflow: hidden;
  max-height: 100px;
}

.container:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.content.expanded {
  max-height: none; /* Altezza massima quando espansa (puoi modificarla) */
}

.toggle-arrow {
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  user-select: none;
}

.content.collapsed .toggle-arrow {
  transform: rotate(0deg);
}

.content.expanded .toggle-arrow {
  transform: rotate(180deg); /* Ruota la freccia quando espanso */
}

.date {
  font-size: 1.5em;
  color: #fff;
  background: linear-gradient(135deg, #d9534f, #e05d5d);
  border: 2px solid #d9534f;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  transition: transform 0.3s, box-shadow 0.3s;
}

.date:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #fff; /* Colore del testo principale */
  font-size: 2em; /* Dimensione del testo dell'intestazione principale */
  margin: 20px 0; /* Spazio esterno */
}

h3 {
  color: #5c656d; /* Colore grigio chiaro */
  display: inline; /* Mostra gli h4 sulla stessa riga */
  margin: 0; /* Rimuove il margine di default */
  padding: 0; /* Rimuove il padding di default */
  font-weight: normal; /* Peso del font normale */
  line-height: 1.5; /* Altezza della linea */
}

/* Stile per h4 con colore personalizzato */
.highlight {
  color: red; /* Colore del testo personalizzato */
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

